
/*/////// screen1 //////////*/
/*//// Starting ///*/
.sidecart-button {
  position: fixed;
  margin-top: 20%;
  width: 500px;
  height: 75px;
  right: -450px;
  transition: 0.5s;
  background-color: rgb(255, 255, 255);
  border-radius: 15px 0 0 15px;
  z-index: 900;
}
.sidecart-button:hover {
  right: 0;
}
.sidecart-button-icon {
  height: 100%;
  width: 50px;
  text-align: center;
  background-color: rgb(0, 0, 0);
  float: left;
  border-radius: 10px 0 0 10px;
}
.sidecart-button-content {
  width: 410px;
  margin: 20px;
  float: left;
  color: rgb(189, 189, 189);
}
#myBtn {
  position: fixed;
  bottom: 20px;
  right: 50px;
  z-index: 1000;
  border: none;
  background-color: rgb(220, 20, 20);
  color: white;
  cursor: pointer;
  width: 55px;
  height: 55px;
  /* padding-left: 10px;
  padding-right: 10px;
  padding: 20px; */
  border-radius: 30px;
  font-size: 25px;
  transition-duration: 0.3s;
}

#myBtn:hover {
  outline: none;
  background-color: #555; /* Add a dark-grey background on hover */
}
/*///////////// Home-overlay ////////////*/
#Home-overlay {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
right: 0;
background-color: rgba(0, 0, 0, 0.9);
overflow-x: hidden;
transition: 0.6s;
cursor: pointer;
}

#Home-overlays-overlay {
height: 100%;
width: 0%;
position: fixed;
z-index: 2;
top: 0;
right: 0;
background-color: rgb(255, 255, 255);
overflow-x: hidden;
transition: 0.6s;
transition-delay: 0.4s;
cursor: pointer;
}

#Home-overlays-overlay2 {
height: 0%;
width: 13rem;
position: fixed;
z-index: 3;
bottom: 0;
right: 0;
background-color: rgba(170, 63, 63, 0);
overflow-x: hidden;
transition: 0.6s;
transition-delay: 0s;
cursor: pointer;
}

.Home-overlays-overlay-button {
margin-left: 85%;
margin-top: 5%;
background-color: transparent;
border: transparent;
font-size: 30px;
color: rgb(168, 168, 168);
cursor: pointer;
}
.Home-overlays-overlay-button:hover {
color: rgb(0, 0, 0);
}
.Home-overlays-overlay-img {
margin-top: 10%;
margin-left: 25%;
width: 50%;
}
.Home-overlays-overlay-h2 {
text-align: center;
font-size: 30px;
font-family: "Philosopher", sans-serif;
}
.Home-overlays-overlay-p {
width: 80%;
margin-left: 10%;
text-align: center;
font-size: 16px;
font-family: "Heebo", sans-serif;
}
.Home-overlays-overlay-icon-group {
width: 100%;
height: fit-content;
text-align: center;
margin-top: 5%;
}
#Home-overlays-overlay-icon {
padding-left: 4%;
padding-right: 4%;
cursor: pointer;
}

/*//// Navbar ///*/
ul li a {
    background-color: transparent;
    color: white;
}

ul li a:hover,
ul li a.active {
    /* background-color: green; */
    color: rgb(220, 20, 20);
}
.nav-text-style{
  margin: 1rem 2rem ;
  font-weight: 600; font-size:0.75rem;
  text-decoration: none;
  transition-duration: 0.3s;
}

.menu-item-hover{
  color: white;
  transition-duration: 0.5s;
}
.menu-item-hover:hover{
  color: rgb(220,20,20);
  text-decoration: none;
}
.col-md-7{
  color: rgb(197, 197, 197);
}

.carousel-cell {
  width: 45%;
  height: 400px;
  margin-right: 0px;
  /* background: #333; */
}

.carousel-cell-image {
  display: block;
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
}

/* fade in lazy loaded image */
.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}

.btn-lg{
  background-color: rgba(255, 255, 255, 0);
  border: 3px solid rgb(220,20,20);
  color: rgb(255, 255, 255);
}
.btn-lg:hover{
  background-color: rgb(220,20,20);
  border: 3px solid rgb(220,20,20);
  color: white;
  text-decoration:none;
}
/*//// section7 ////*/
.screen3-card-button{
  font-family: 'Heebo', sans-serif;font-size: 19px;color: white;transition-duration: 0.3s; font-weight:700;
}
.screen3-card-button:hover{
  color: rgb(220, 20, 20);
}
.screen3-card-head{
  font-family:'Philosopher', sans-serif;font-size: 25px;color: white;transition-duration: 0.3s; font-weight:700;
}
.screen3-card-head:hover{
  color: rgb(220, 20, 20);
}
/* ..................................Important............................................ */
.section4-head{
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}
.section4-button{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ....................................................................................... */

.screen5-background-img{
background-image: url("Images/section5/background.jpg"), linear-gradient(to left, rgba(0, 0, 0, 0.404), rgba(255, 255, 255, 0));
background-repeat: no-repeat;
background-position: center;
height: 25rem;
background-blend-mode: normal;
}
.section5-card-img{
  border:none;
  outline: none;
  border-radius: 0;
}
.section5-shop-head{
  font-family:'Philosopher', sans-serif;margin-top: 13rem;color: white;text-decoration: none;
  font-size: 1rem;
}
.section5-shop-head:hover{
  color: rgb(220,20,20);
  text-decoration: none;
}

.screen7-body-card{
  border: none;
  color: white;
  background-color: rgb(36, 36, 36);
}
.screen7-body-card-head{
  font-size:1.2rem;
}
.footer-background-img{
  background-image: url(Images/footer/background.jpg),
  linear-gradient(175deg, #00000088 30%, #31313144 100%);
  background-repeat: no-repeat;
  height:cover;
  background-position: center;
  background-blend-mode: multiply;
  background-size: cover;
/* position: relative; */
}
.footer-logo-image{
  position: relative;
  top: -50px;
}
#googleMap{
  width: 100%;
  height:100%;
  padding: 12rem 0;
}
/* ..................................... */
/* ..................................... */
/* ................Page 2............... */
/* ..................................... */
/* ..................................... */
.page2-heading{
margin:0;
padding: 0;
display: flex;
justify-content: center;
align-items: center;

}
.page2-heading-text{
  margin:7rem 0;
  padding:0;
  font-size: 10vw;
}


/* ..................................... */
/* ..................................... */
/* ................Page 3............... */
/* ..................................... */
/* ..................................... */
.Catering-btn{
    background-color: rgba(220, 20, 20, 0) ;
    text-decoration:none;
    border-radius:2rem;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    margin-top: 7rem;
  }
  .Catering-btn:hover{
    background-color: rgb(220,20,20) ;
    text-decoration:none;
    border-radius:2rem;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    margin-top: 7rem;
  }

  .Catering-btn-text{
    color: rgba(255, 255, 255, 0);
  }
  
  .Catering-btn-text:hover{
    color: white;
    text-decoration:none;
  }
.Screen7-deatiles-background{
background-image: url("Images/page4/detailes-background-02-removebg-preview.png");
background-position: center;
background-repeat: no-repeat;
width: 100%;
/* margin-left: 20%; */
height: cover;
background-size: 100%;
}

.Screen7-Team-background{
background-image: url("Images/page4/team/team_bg.png");
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}

/* ..................................... */
/* ..................................... */
/* .............Page4-About........... */
/* ..................................... */
/* ..................................... */

#Content-center-img1-video-overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 910;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.6s;
    cursor: pointer;
  }

  .Content-center-img1-video-overlay-video-play {
    width: 70%;
    height: 75%;
    margin: 5% 15%;
  }

.page4-behind-the-taste{
background-color: #15181c;
  }
.page4-behind-the-taste:hover{
background-color:#22272e;
  }

.about-back-and-forth-img{
    position: relative;
    padding: 5rem 0;
    animation: myfirst 5s infinite;
    animation-direction: alternate;
    z-index: 510;
    width:95%;
}
@keyframes myfirst {
  0%   {left: 0px; top: 0px;}
  50%  {left: 30px; top: 0px;}
  100%  {left: 0px; top: 0px;}
}

.carousel-cell {
    width: 100%;
    height: fit-content;
    /* margin-right: 10px; */
    /* padding: 2rem 0; */
    /* background: #8C8; */
    /* border-radius: 5px; */
    /* counter-increment: carousel-cell; */
  }
  
  /* cell number */
  .carousel-cell:before {
    display: block;
    /* text-align: center; */
    /* content: counter(carousel-cell); */
    /* line-height: 200px; */
    /* font-size: 80px; */
    /* color: rgb(255, 255, 255); */
  }
  .scree6-btns{
    color: white;
  }
  .scree6-btns:hover{
color: white;
text-decoration: none;
  }

/* ..................................... */
/* ..................................... */
/* .............Pages-Contact........... */
/* ..................................... */
/* ..................................... */
.Pages-blocks{
    width: 100%;height:12rem;color: rgb(195, 195, 195);background-color: #242c3500;border-radius: 0.4rem;transition-duration: 0.5s;
    
}
.Pages-blocks:hover{
    background-color: #242c357c;box-shadow: 0 4px 8px 0 #151b2000, 0 6px 20px 0 #151b2000;
}
.btn-main{
  color:white;
}
.btn-main:hover{
  text-decoration: none;
  color: white;
}
/* ..................................... */
/* ..................................... */
/* .............Pages-checkout.......... */
/* ..................................... */
/* ..................................... */
.bill-payment{
    width: 100%;
}
.bill-payment th,
.bill-payment td {
  border: 1px solid white;
  border-collapse: collapse;
}
.bill-payment th,
.bill-payment td {
  padding: 0.5rem 1rem;
  text-align: center;
  font-family: "Heebo", sans-serif;
  font-size: 0.7rem;
}

/* ..................................... */
/* ..................................... */
/* .............Page-News............... */
/* ..................................... */
/* ..................................... */
.head-off{
  color: white;
}
.head-off:hover{
color: rgb(220, 20, 20);
text-decoration: none;
}